div {
  /* background-color: #f8f9fa; */
}

/* sx={{
  input: {
    color: 'white',
    border: '1px solid white',
    borderRadius: '0.2rem',
    '&:hover': { border: '1px solid white' },
    '&:focus': { border: 'none' },
    '&::placeholder': { color: 'white' },
  },
  label: {
    color: 'white',
  },
}} */